@font-face {
  font-family: 'mainFont';
  src: url(BIGbenFont.tff);
  font-style: normal;
  font-weight: 100;
}
.topBar{
  background-image: linear-gradient(to bottom right, rgb(29,174,237),rgb(100,255,100));
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
body{
  margin: 0px;
  padding:0px;
}
.text{
  font-family: 'mainFont';
  font-weight: 100;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  text-decoration: none;
}
.textbro{
  font-family: 'mainFont';
  font-weight: 100;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  font-size: 25px;
}
.bottomText{
  font-family: 'mainFont';
  font-weight: 100;
  color: white;
  text-decoration: none;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  
}
.topbarbutton{
  font-family: 'mainFont';
  font-weight: 100;
  display: inline-block;
  padding: 15px;
  margin:5px;
  background-color: rgb(115,243,195);
  font-size: 15px;
  transition: 1s;
}
.topbarbuttonuseless{
  font-family: 'mainFont';
  font-weight: 100;
  display: inline-block;
  background-color: rgb(74, 189, 147);
  font-size: 15px;
  padding: 20px;
  border: 1px solid rgb(216, 216, 216);
}
.topbarbutton:hover{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 15px;
  margin:5px;
  background-color: white;
  font-size: 15px;
  transition: 1s;
  box-shadow: 10px 10px rgb(0,150,255);
}
.smallsections{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 30px;
  max-width: 40%;
  border-radius: 20px;
  color: black;
  margin:10px;
  background-color: rgb(115,243,195);
  font-size: 30px;
  transition: 1s;
}
.smallsection{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 30px;
  max-width: 40%;
  border-radius: 20px;
  color: black;
  margin:10px;
  background-color: rgb(115,243,195);
  font-size: 30px;
  transition: 1s;
}
.smallsections:hover{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 35px;
  max-width: 40%;
  color: black;
  border-radius: 20px;
  background-color: rgb(130,255,230));
  font-size: 30px;
  margin:10px;
  box-shadow: 10px 10px rgb(29,174,237);
  transition: 1s;
}
.percentageText{
  ffont-family: 'mainFont';
  font-weight: 100;
  font-size: 150px;
  margin: -1px;
}
strong{
  text-decoration: underline wavy rgb(29,174,237);
}
.textinput{
  padding:10px;
  font-family: 'mainFont';
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}
.loginandsignupconfirm{
  padding:20px;
  font-family: 'mainFont';
  font-weight: 100;
  font-size:20px;
}
.select{
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
  font-family: 'mainFont';
  font-weight: 100;
  color: white;
  font-size: 20px;
  transition: 1s;
}
.select:hover{
  background-color: rgb(0,0,0);
  padding: 20px;
  font-family: 'mainFont';
  font-weight: 100;
  color: white;
  font-size: 20px;
  transition: 1s;
}
.completion{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 30px;
  min-width: 100%;
  border-radius: 20px;
  color: black;
  background-image: url("https://world.edu/wp-content/uploads/2019/08/kisspng-confetti.png");
  background-size:100%;
  font-size: 30px;
  transition: 1s;
}
.lockedsmallsection{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 30px;
  max-width: 40%;
  border-radius: 20px;
  color: black;
  background-color: rgb(200,200,200);
  font-size: 30px;
  transition: 1s;
  margin:10px;
}
.lockedsmallsection:hover{
  font-family: 'mainFont';
  font-weight: 100;
  padding: 35px;
  max-width: 40%;
  border-radius: 20px;
  color: black;
  background-color: rgb(200,200,200);
  font-size: 30px;
  transition: 1s;
  margin:10px;
}
.rotate90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.image-cropper {
    max-width: 200px;
    height: auto;
    position: relative;
    overflow: hidden;
}
.image-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 200px; 
    margin: 0 0 0 -20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
}
